* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


body {
    /*height: auto !important;*/
    height: 100%;
    min-height: 100%;
    position: static;
    top: 20px;
    /*background-color: beige;*/
    background-color: dimgray;
    /*background-color: linen;*/
    /*background-image: url(/images/BACKGROUND.jpg);                                           !*   fdgfghdfhgdfgdf*!*/
    /*background-repeat: repeat;*/
}

/*.div-404{
    !* Добавляем фон *!
    background: url(/images/noaccess.gif) no-repeat 100% 100% linen;
    background-size: cover; !* Масштабируем фон *!
}*/




#menu {
    width: 14%;
    position: absolute;
    top: 110px;
    left: 10px;
    z-index: 1;
}

#center {
    width: 60%;
    height: fit-content;
    padding-bottom: 50px;
    position: relative;
    top: 110px; /*left:16%*/
    left: 200px;
}
#center_no_right {
    width: 80%;
    height: fit-content;
    padding-bottom: 50px;
    position: relative;
    top: 110px; /*left:16%*/
    left: 200px;
}

#right {
    width: 15%;
    position: absolute;
    top: 110px;
    left: 84%;
}

#center_customer {
    width: 58%;
    height: fit-content;
    padding-bottom: 50px;
    position: relative;
    top: 110px;
    left:17%
    /*left: 200px;*/
}
#right_customer{
    width: 25%;
    position: absolute;
    top: 110px;
    left: 82%;
}


#logo {
    background-color: #abf2a9;
    width: 100%;
    margin: 0;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
}

#line {
    background-color: #0a5519;
    width: 100%;
    margin: 0;
    height: 4px;
    position: relative;
    top: 96px;
    left: 0;
}


#footer {
    width: 100%;
    background-color: #abf2a9;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px; /* return height: 30px*/
    padding-bottom: 1%;
    padding-top: 0;
    z-index: 2;
}



.links {
    color: #800080;
    font-size: 10pt;
    text-align: left;
    position: absolute;
    left: 10px;
}

.p {
    font-size: 14pt;
    color: #191970;
    font-family: Garamond, serif;
}

.p-hello {
    color: #850c73;
    font: bold 20pt Verdana;
}

/*#text {font-size:13pt;}*/

.p-red {
    font-size: medium;
    font-style: italic;
    color: red;
}

.p-forms {
    font-size: large;
    font-weight: bold;
    color: #850c73;
}

form.button_line{
    display:inline-block;
}


/*h2 {color:brown; align-content:center; padding-top: 2%}*/
h3 {
    color: #a72392;
    font-family: Courier New, serif;
    padding-top: 2%
}


A:link {
    COLOR: #0000CD;
    text-decoration: none
}

A:visited {
    COLOR: #808080;
    text-decoration: none
}

A:hover {
    COLOR: #0000FF;
    text-decoration: underline
}


th {
    font-size: 12pt;
    font-weight: bold;
    background: #fbf489;
    border-top: 4px solid #850c73;
    border-bottom: 1px solid #fb80b7;
    color: #850c73;
    padding: 4px;
}

td {
    font-size: 11pt;
    background: lightyellow;
    border-bottom: 1px solid #68c398;
    color: #0a5519;
    border-top: 1px solid transparent;
    padding: 4px;
}

tr.insert_row td,
tr:hover td {
    background: #abf2a9;
    font-weight: bold;
    color: #850c73;
}
tr.total{
    background: lightyellow;
    font-weight: bold;
    color: #850c73;
}

/*tr.insert_row td {
    background: #abf2a9;
    font-weight: bold;
    color: #850c73;
}*/

/*#input-digit{width: 10px;}*/
textarea.table_field_high,
input.table_field_high {
    word-wrap: break-word;
    height: 50px;
    text-align: right;
    vertical-align: center;
    /*text-overflow: ellipsis;*/
}
textarea.table_field_high{
    width: 100px;
    text-align: right;
}

input.table_field_number {
    text-align: right;
    vertical-align: center;
    width: 40px ;
    /*text-overflow: ellipsis;*/
}

td.table_field_submit {
    horiz-align: center;
    vertical-align: center;
}




ul#menu-v,
ul#menu-v li,
ul#menu-v ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: 160px;
    list-style: none;
}

ul#menu-v:after {
    clear: both;
    display: block;
    font: 1px/0 serif;
    content: ".";
    height: 0;
    visibility: hidden;
}

ul#menu-v li {
    float: left;
    /*display: block !important;*/
    display: inline;
    position: relative;
    border: white 1px solid;
}

ul#menu-v li ul li {
    border: none;
    border-bottom: white 2px solid;
}


/*main menu not selected*/
/*ul#menu-v,*/
ul#menu-v li span,
ul#menu-v a {
    padding: 0 6px;
    display: block;
    background: #abf2a9;
    color: #850c73;
    font: bold 16px/28px Verdana, Arial;
    text-decoration: none;
    line-height: 90%; /*asfasdffffffffffffffffffffffffffffffffffffffffffffffffffff*/
    /*height: auto !important;*/
    /*height: 1%;*/
}

/*main menu selected*/
ul#menu-v a:hover,
ul#menu-v span:hover,
ul#menu-v li:hover a,
ul#menu-v li.iehover a {
    background: lightyellow;
    color: darkslategray !important;
    border: #abf2a9 1px solid;
    line-height: 90%; /*asfasdffffffffffffffffffffffffffffffffffffffffffffffffffff*/
}


/*sub menu not selected*/
ul#menu-v li:hover li a,
ul#menu-v li.iehover li a {
    background: #abf2a9;
    color: darkgreen !important;
    font: 14px/28px Verdana, Arial;
    border: white 1px solid;
    line-height: 90%;
}

/*sub menu selected*/
ul#menu-v li:hover li a:hover,
ul#menu-v li:hover li:hover a,
ul#menu-v li.iehover li a:hover,
ul#menu-v li.iehover li.iehover a {
    background: lightyellow;
    color: darkslategray !important;
    border: #abf2a9 1px solid;
    line-height: 90%;
}


ul#menu-v ul,
ul#menu-v ul ul,
ul#menu-v ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 161px;
}


ul#menu-v li:hover ul ul,
ul#menu-v li:hover ul ul ul,
ul#menu-v li.iehover ul ul,
ul#menu-v li.iehover ul ul ul {
    display: none;
}

ul#menu-v li:hover ul,
ul#menu-v ul li:hover ul,
ul#menu-v ul ul li:hover ul,
ul#menu-v li.iehover ul,
ul#menu-v ul li.iehover ul,
ul#menu-v ul ul li.iehover ul {
    display: block;
}


